[submodule "arch-bootstrap-current"]
	path = arch-bootstrap-current
	url = https://github.com/thaewrapt/arch-bootstrap-current.git
	
[submodule "xdg-menu-hook-git"]
	path = xdg-menu-hook-git
	url = https://github.com/thaewrapt/xdg-menu-hook-git

[submodule "maelstrom"]
	path = maelstrom
	url = https://github.com/thaewrapt/maelstrom.git

[submodule "freeciv-experimental-git"]
	path = freeciv-experimental-git
	url = https://github.com/thaewrapt/freeciv-experimental-git.git

[submodule "freeciv-experimental-qt-git"]
	path = freeciv-experimental-qt-git
	url = https://github.com/thaewrapt/freeciv-experimental-qt-git.git

